<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI 小工具︱創意行銷標題發想器</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="body">
  <form action="/" method="post">
    <div class="card">
      <h1 class="card-title" id="typing">創意行銷標題發想器<span class="type-blink"></span></h1>
      <p class="card-text">
        <% if (description.length) { %>
          <%= description %>
        <% } else { %>
          <%= '...' %>
        <% } %>
      </p>
      <input type="text" name="description" class="card-input" placeholder="請填行銷主題，e.g.紅酒、音樂祭" />
      <button type="submit" class="card-btn">送出</button>
    </div>
  </form>

  <script>
    // 打字特效
    const texts = ['創意行銷標題發想器', '我是行銷標題大師'];
    let count = 0;
    let index = 0;
    let currentText = '';
    let letter = '';

    (function type() {
      if (count === texts.length) {
        count = 0;
      }
      currentText = texts[count];
      letter = currentText.slice(0, ++index);

      document.getElementById('typing').textContent = letter;
      if (letter.length === currentText.length) {
        count++;
        index = 0;
        setTimeout(type, 3000);
      } else {
        setTimeout(type, 150);
      }
    })();
  </script>

</body>
</html>